.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: linear-gradient(red, yellow);
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  margin: 25px;
  padding: 19px;
  gap: 1.5rem;
  background-color: linear-gradient(red, yellow);
  border: 3px solid black;
}
.navbar nav .logo {
  height: 110px;
  width: 150px;
  border: 1px solid black;
  border-radius: 50%;
}
.navbar nav .input-search-space {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  gap: 1rem;
  border: 2px solid green;
}
.navbar nav .input-search-space .search-box {
  height: 35px;
  width: 200px;
  border-radius: 5px;
}
.navbar nav .input-search-space .search-btn {
  height: 30px;
  width: 45px;
  border-radius: 5px;
}
.navbar nav .input-search-space .search-btn:hover {
  color: rgb(60, 179, 113);
}
.navbar #main-drop-downs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
  padding: 5vw;
  gap: 1.8rem;
  height: 100px;
  width: 100%;
  padding: 10px 10vw;
  list-style: none;
  border: 2px solid green;
}
.navbar #main-drop-downs ul {
  position: relative;
}
.navbar #main-drop-downs .drop-down {
  flex: 1;
  color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  text-decoration: none;
  list-style: none;
  font-size: 140;
  font-weight: bold;
  text-transform: capitalize;
}
.navbar #main-drop-downs .drop-down:hover {
  color: rgb(60, 179, 113);
}
.navbar #main-drop-downs .hidden-display {
  display: none;
  position: absolute;
}
.navbar #main-drop-downs .hidden-display li {
  font-size: 140;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}

.best-release {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: 3px solid blue;
  background-image: url(/my-ecommerce/images/logo.jpg) no-repeat center center/cover;
}
.best-release .best-release-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 300px;
  width: 100%;
}
.best-release .best-release-sec .logo {
  display: block;
  margin: auto;
  height: 200px;
}
.best-release .best-release-sec .sub-heading {
  margin-top: 10px;
  text-align: center;
  color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  text-transform: capitalize;
  font-style: sans-serif;
  font-size: 35px;
  font-weight: 300;
}

.products {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 1100px;
  width: 100%;
  border: 3px solid green;
  padding: 20px 0;
  position: sticky;
}
.products .product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize, uppercase;
}
.products .pre-btn,
.products .nxt-btn {
  border: none;
  height: 100%;
  width: 5vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}
.products .pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.products .nxt-btn {
  right: 0;
}
.products .pre-btn img,
.products .nxt-btn img {
  opacity: 0.2;
}
.products .pre-btn:hover img,
.products .nxt-btn:hover img {
  opacity: 1;
}
.products .manga-collection {
  padding: 0 10vw;
  position: absolute;
  z-index: 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border: 3px solid violet;
  height: 900px;
  width: 100%;
  margin: 8px;
  padding: 5px;
  gap: 1.5rem;
}
.products .manga-collection .manga-collection::-webkit-scrollbar {
  display: none;
}
.products .manga-collection .manga-container {
  flex: 0 0 auto;
  height: 850px;
  width: 250px;
  margin-right: 40px;
}
.products .manga-collection .manga-container .manga-image {
  position: relative;
  height: 350px;
  width: 100%;
  overflow: hidden;
}
.products .manga-collection .manga-container .manga-image .discount-item {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.products .manga-collection .manga-container .manga-image .img-cover {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.products .manga-collection .manga-container .manga-info {
  height: 350px;
  width: 100%;
  padding-top: 10px;
}
.products .manga-collection .manga-container .manga-info .manga-release {
  font-style: sans-serif;
  font-size: 200;
  font-weight: bold;
}
.products .manga-collection .manga-container .manga-info .manga-des {
  height: 240px;
  width: 100%;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.products .manga-collection .manga-container .manga-info .price {
  font-weight: 900;
  font-size: 20px;
}
.products .manga-collection .manga-container .manga-info .actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.products .manga-collection .manga-container .add-to-cart {
  height: 50px;
  width: 120px;
  background-color: linear-gradient(red, yellow);
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
