.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: linear-gradient(red, yellow);
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  margin: 25px;
  padding: 19px;
  gap: 1.5rem;
  background-color: linear-gradient(red, yellow);
  border: 3px solid black;
}
.navbar nav .logo {
  height: 110px;
  width: 150px;
  border: 1px solid black;
  border-radius: 50%;
}
.navbar nav .input-search-space {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  gap: 1rem;
  border: 2px solid green;
}
.navbar nav .input-search-space .search-box {
  height: 35px;
  width: 200px;
  border-radius: 5px;
}
.navbar nav .input-search-space .search-btn {
  height: 30px;
  width: 45px;
  border-radius: 5px;
}
.navbar nav .input-search-space .search-btn:hover {
  color: rgb(60, 179, 113);
}
.navbar #main-drop-downs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
  padding: 5vw;
  gap: 1.8rem;
  width: 100%;
  padding: 10px 10vw;
  list-style: none;
  border: 2px solid green;
}
.navbar #main-drop-downs .drop-down {
  flex: 1;
  color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  text-decoration: none;
  list-style: none;
  font-size: 140;
  font-weight: bold;
  text-transform: capitalize;
}
.navbar #main-drop-downs .drop-down:hover {
  color: rgb(60, 179, 113);
}
.navbar #main-drop-downs .hidden-display {
  display: none;
}
.navbar #main-drop-downs .hidden-display li {
  font-size: 140;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
