@import "../abstracts/variables/variables.scss";
@import "../abstracts/mixin/mixin.scss";

.navbar {
  //code to fix it in the top of the page
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-col;
  z-index: 9;
  //nav code to order the search box and the images
  @include flex(flex, space-between, center);
  flex-flow: column;
  position: sticky;
  background-color: lightblue;
  nav {
    //center the elements in the nav
    @include flex(flex, space-between, center);
    @include size(150px, 100%);
    @include space(25px, 19px, 1.5rem);
    background-color: $background-col;
    border: 3px solid black;
    //style the logo
    .logo {
      @include size(110px, 150px);
      border: 1px solid black;
      border-radius: 50%;
    }
    //center the input and the button
    .input-search-space {
      @include flex(flex, center, center);
      @include space(5px, 5px, 1rem);
      //style the input and the button
      //input style
      .search-box {
        @include size(35px, 200px);
        border-radius: 5px;
      }
      //button style
      .search-btn {
        @include size(30px, 45px);
        border-radius: 5px;
        &:hover {
          color: $hover-col;
        }
      }
    }
  }
  //dropdown menus style
  #main-drop-downs {
    @include flex(flex, center, flex-start);
    @include space(5px, 5vw, 1.8rem);
    @include size(100px, 100%);
    padding: 10px 10vw;
    list-style: none;
    //style each dropdown menu
    ul {
      position: relative;
    }
    .drop-down {
      flex: 1;
      color: $font-col;
      text-decoration: none;
      list-style: none;
      font-size: 140;
      font-weight: bold;
      text-transform: capitalize;
      &:hover {
        color: $hover-col;
      }
    }
    //hide the drop-down menus in order to be diplayed when clicked
    .hidden-display {
      display: none;
      position: absolute;
      & li {
        font-size: 140;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none;
        list-style: none;
        color: red;
      }
    }
  }
}
//code to style best-release section
.best-release {
  @include size(600px, 100%);
  @include flex(flex, center, center);
  flex-flow: column;
  z-index: 10;
  background: url(/my-ecommerce/images/demon-slayer-wp.jpeg) no-repeat center
    center/cover;
  .best-release-sec {
    @include flex(flex, center, center);
    flex-flow: column;
    @include size(300px, 100%);
    .logo {
      //style to center the logo with margin and display
      display: block;
      margin: auto;
      height: 200px;
      border-radius: 50%;
    }
    .sub-heading {
      margin-top: 10px;
      text-align: center;
      color: $font-col;
      text-transform: capitalize;
      @include font(sans-serif, 35px, 400);
    }
  }
}
//code to style the products section
.products {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(/my-ecommerce/images/Download-wallpapers-Kenshin-Himura-protagonist-artwork-manga-Rurouni-Kenshin-besthqwallpaperscom.png)
    no-repeat center center/cover;
  @include size(1100px, 100%);
  padding: 20px 0;
  position: sticky;
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize, uppercase;
  }
  //code to style the arrows buttons
  .pre-btn,
  .nxt-btn {
    border: none;
    @include size(100%, 2vw);
    position: absolute;
    top: 0;
    @include flex(flex, center, center);
    background-color: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 100%
    );
    cursor: pointer;
    z-index: 8;
  }
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  .nxt-btn {
    right: 0;
  }
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.1;
  }
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  //manga collection style
  .manga-collection {
    padding: 0 10vw;
    position: absolute;
    z-index: 7;
    @include flex(flex, space-around, center);
    overflow-x: hidden;
    scroll-behavior: smooth;
    @include size(850px, 100%);
    @include space(15px, 5px, 1.5rem);

    //code to style each manga container
    .manga-container {
      flex: 0 0 auto;
      @include size(850px, 150px);
      margin: 40px;
      //manga image
      .manga-image {
        position: relative;
        @include size(350px, 100%);
        overflow: hidden;
        .discount-item {
          position: absolute;
          background: #fff;
          padding: 5px;
          border-radius: 5px;
          color: #ff7d7d;
          right: 10px;
          top: 10px;
          text-transform: capitalize;
        }
        .img-cover {
          @include size(350px, 100%);
          object-fit: cover;
        }
      }
      //code to style manga description and price
      .manga-info {
        @include size(350px, 80%);
        padding-top: 10px;
        color: rgb(0, 0, 0);
        .manga-release {
          @include font(sans-serif, 200, bold);
        }
        .manga-des {
          @include size(240px, 100%);
          line-height: 20px;
          overflow: hidden;
          opacity: 0.5;
          margin: 5px 0;
          font-weight: 600;
          color: black;
        }
        .price {
          font-weight: 900;
          font-size: 20px;
        }

        .actual-price {
          margin-left: 20px;
          opacity: 0.5;
          text-decoration: line-through;
          font-weight: bold;
        }
      }
      //code to syle add-to-cart button, this button will have the functionality to add products to the cart
      .add-to-cart {
        @include size(50px, 120px);
        background-color: $background-col;
        border-radius: 15px;
      }
    }
  }
}
//code to style best-release section
.last-release {
  @include size(600px, 100%);
  @include flex(flex, center, center);
  flex-flow: column;
  z-index: 10;
  background: url(/my-ecommerce/images/made-in-abyss-wp.jpeg) no-repeat center
    center/cover;
  .last-release-sec {
    @include flex(flex, center, center);
    flex-flow: column;
    @include size(300px, 100%);
    .last-logo {
      //style to center the logo with margin and display
      display: block;
      margin: auto;
      height: 200px;
      border-radius: 50%;
    }
    .last-sub-heading {
      margin-top: 10px;
      text-align: center;
      color: $font-col;
      text-transform: capitalize;
      @include font(sans-serif, 35px, 400);
    }
  }
}
.products-second {
  background: url(/my-ecommerce/images/demon-3.jpeg) no-repeat center
    center/cover;
}

//code to style the cart
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
  .section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
  }
  .cart-row {
    display: flex;
    .cart-item {
      width: 45%;
    }
    .cart-price {
      width: 20%;
      font-size: 1.2em;
      color: #333;
    }
    .cart-quantity {
      width: 35%;
    }
  }
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    .cart-total-title {
      font-weight: bold;
      font-size: 1.5em;
      color: black;
      margin-right: 20px;
    }
    .cart-total-price {
      color: #333;
      font-size: 1.1em;
    }
  }
  .btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
  }
}
