@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}
@mixin space($margin, $padding, $gap) {
  margin: $margin;
  padding: $padding;
  gap: $gap;
}
@mixin font($font-style, $font-size, $font-weight) {
  font-style: $font-style;
  font-size: $font-size;
  font-weight: $font-weight;
}
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
